.about {
    box-sizing: border-box;
    position: relative;
    display: grid; 
    grid-template-columns: 1fr 2fr; 
    align-items: center;
    width: 100vw;
    height: auto; 
    overflow: hidden;
    margin: 0;
    padding: 3.75rem 2.25rem 3.75rem 8.25rem;
    background-color: white;
}

.about-img {
    width: 18.75rem; 
    height: 18.75rem;
    overflow: hidden;
    border-radius: 50%;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center calc(100% + 2.1875rem);
    filter: sepia(30%) contrast(105%) brightness(110%) saturate(100%);
}

.about .about-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    color: black;
    padding: 0rem 3.4375rem;
    overflow: hidden;
    position: relative;
}

.about-content .top-title {
    font-size: 1.375rem;
    font-weight: 800;
    color: #e07a5f;
}

.about-content h2 {
    font-weight: bold;
    font-size: 1.875rem;
    margin: 0rem;
    line-height: 1.6;
    color: #333;
}

.acp {
    font-size: 1.0625rem;
    color: #333;
    font-weight: 500;
    margin-top: 0.625rem;
    line-height: 1.6;
}

@media screen and (max-width: 768px) {
    .about {
        grid-template-columns: 1fr; 
        text-align: center;
        margin-top: 5rem;
        margin-bottom: -2.5rem; 
        padding: 1.875rem;
        background: white;
    }

    .about .top-title {
        font-size: 1.25rem;
    }

    .about h2 {
        font-size: 1.875rem;
    }

    .about-img {
        width: 21.875rem; 
        margin: 3.125rem auto; 
        height: 21.875rem;
        border: 0.00625 solid grey;
    }

    .about .about-content {
        width: 100%;
        text-align: left;
        align-items: flex-start;
        padding: 1.25rem;
        gap: 1.25rem; 
    }

    .about .about-content .acp {
        font-size: 1.125rem;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(1.25rem);
        animation: fadeInUp 1.5s ease-out forwards;
    }
    
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(1.25rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
}

@media screen and (max-width: 430px) {

    .about {
        box-sizing: border-box;
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: -1.875rem;
        padding: 1.25rem 0;
        background-color: white;
        margin-left: 20px;
    }

    .about-img {
        width: 16rem;
        margin: 3.125rem auto;
        height: 16rem;
        border: none;
    }

    .about-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center calc(100% + 2.1875rem);
        filter: sepia(50%) contrast(100%) brightness(110%) saturate(110%);
    }

    .about .about-content {
        width: 100%;
        text-align: left;
        align-items: flex-start;
        padding: 1.5625rem;
        gap: 1rem;
    }

    .about .about-content .acp {
        font-size: 1rem;
        line-height: 1.775;
        text-align: justify;
    }

    .fade-in {
        opacity: 0;
        transform: translateY(1.25rem);
        animation: fadeInUp 1.2s ease-out forwards;
    }
    
    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(1.25rem);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}


