.projectCard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    height: 18.75rem;
    width: 18.75rem;
    padding: 2rem;
    background-color:rgb(249, 207, 38);
    padding: 0.625rem 1.25rem;
    border: 0.00625rem solid white;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center; 
}

.projectCard-container:hover {
    transform: translateY(-0.3125rem);
    cursor: pointer;
    box-shadow: 0 0.25rem 0.625rem rgba(0, 158, 102, 0.5);
}

.projectCard-container h2 {
    margin-bottom: 0.625rem;
    color: #333;
}

.projectCard-container p {
    font-size: 1rem;
    color: #555;
    padding: 0rem 1.25rem;
    text-align: left;
}

.projectCard-container a {
    all: unset;
    display: inline-block;
    margin-left: auto;
    font-size: 0.875rem;
    padding: 0rem 1.25rem;
    text-decoration: none;
    transition: background 0.3s ease;
}

.projectCard-container a:hover {
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .projectCard-container  {
        max-height: 16.25rem;
        max-width: 13.75rem;
        text-align: left;
        align-items: flex-start;
        border: 0.00625rem solid rgba(128, 128, 128, 0.3);
    }

    .projectCard-container a {
        display: none;
    }

    .projectCard-container p {
        padding: 0rem;
    } 
}

@media screen and (max-width: 430px) {

    .projectCard-container {
        max-width: 100%;
        margin-left: 0.625rem;
        height: 8.75rem;
        border: 0.1px solid white;
    }
}
