.exp-container {
    background: url("/public/images/negativespace.png") no-repeat center left 10%;
    background-size: cover;
    background-attachment: fixed;
    background-position: right top 0px;
    box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.625rem 1.5625rem;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 2.5rem;
}

.exp-container .exp-content .h1experience {
    font-size: 25px;
    font-weight: 400;
    color: #333;
    letter-spacing: 0.1275rem;
    width: 80%;
    padding-top: 20px;
    height: 60px;
    text-align: center;
    color: white;
}

.exp-container .exp-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 80%;
    background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 768px) {

    .exp-container {
        margin-top: 5rem;
    }

    .exp-container h1 {
        font-size: 5rem;
    }

    .exp-container h2 {
        font-size: 1.75rem;
        padding-top: 2.5rem;
    }
}

@media screen and (max-width: 430px) {

    .exp-container {
        padding: 0px 0.9375rem;
        margin-top: 0;
        overflow: hidden;
        background-color: transparent;
    }

    .exp-container .exp-content {
        width: 95%;
    }

    .exp-container .exp-content .h1experience {
        font-size: 1.125rem;
    }
}

