
.exp-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0.625rem 1.5625rem;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding: 2.5rem;
    background-color: #9d9554;
}

.exp-container h1 {
    font-size: 2.1875rem;
    font-weight: 400;
    color: #333;
    margin-top: 5rem;
    letter-spacing: 0.1875rem;
}

@media screen and (max-width: 768px) {

    .exp-container {
        margin-top: 5rem;
    }

    .exp-container h1 {
        font-size: 5rem;
    }

    .exp-container h2 {
        font-size: 1.75rem;
        padding-top: 2.5rem;
    }
}

@media screen and (max-width: 430px) {

    body {
        background-color: #9d9554 !important;
    } 

    .exp-container {
        padding: 0px 0.9375rem;
    }

    .exp-container .h1experience {
        font-size: 1.875rem;
    }

    .exp-container .h2experience {
        font-size: 1.5rem;
        padding-top: 4.0625rem;
        margin-left: -0px;
    }
}

